# **IS 477 Final Project: Comparing 10 year US stock returns to the S&P 500**

### <u>Contributors:</u>
* Emma Bills ebills2@illinois.edu

* Rhea Dcosta rdcosta2@illinois.edu

## <u>Data Collection and Acquisition (cf. Module 3)</u>

The first dataset we chose is the historical stock market data for popular stocks in the S&P 500 such as Nvidia Inc. (NVDA), JP Morgan Chase (JPM), Walmart (WMT),Tesla Inc.(TSLA), Amazon Inc. (AMZN), Broadcomm (AVGO), Caterpillar Inc. (CAT), Exxon Mobile (XOM), Johnson & Johnson (J&J), Abbot Inc. (ABT), and Prologis Inc. (PLD) from Yahoo Finance using the pypi yfinance python package.

### <u>Documentation </u>
1. Download the required python programs in your terminal which are `yfinance`, `pandas`, `fredapi`, and `matplotlib`  
2. Run the imports section
3. Run the formalized df_yf section  
  
We decided to implement a checksum in the `workflow automation and provenance` section using snakemake to verify the merged dataset is not corrupted.

Navigate to `M1_M2.md` to view our detailed analysis on the data lifecyle and ethical and legal constraints in the use of our chosen datasets.

In [2]:
# imports
import yfinance as yf
import pandas as pd
import openpyxl

In [3]:
#formalized df_yf dataset
tickers=['NVDA','JPM','WMT','TSLA','AMZN','AVGO','CAT','XOM','JNJ','ABT','PLD']
df_yf=yf.download(
    tickers,
    start='2016-01-01',
    
    interval='1mo',
    auto_adjust=False,
    progress=False

)

df_yf = df_yf.reset_index()


df_yf = df_yf.rename(columns={'Date': 'Date',
                              'Open': 'Open',
                              'High': 'High',
                              'Low': 'Low',
                              'Close': 'Close',
                              'Adj Close': 'Adj_Close',
                              'Volume': 'Volume'
}
)

df_yf.to_csv('Stocks_2016_2025.csv', index=False)
df_yf

Price        Date   Adj_Close                                                  \
Ticker                    ABT        AMZN        AVGO         CAT         JNJ
0      2016-01-01   31.351618   29.350000   10.241072   48.714584   79.175697
1      2016-02-01   32.291306   27.625999   10.260983   53.651501   79.759415
2      2016-03-01   34.866955   29.681999   11.833411   60.657093   82.620567
3      2016-04-01   32.424686   32.979500   11.200197   61.592228   85.583328
4      2016-05-01   33.234970   36.139500   11.861836   58.023674   86.049133
..            ...         ...         ...         ...         ...         ...
115    2025-08-01  132.072708  229.000000  296.881348  417.839539  174.769379
116    2025-09-01  133.347046  219.570007  329.345734  475.783051  184.250153
117    2025-10-01  123.072731  244.220001  369.630005  575.606262  187.678391
118    2025-11-01  128.899994  233.220001  402.959991  575.760010  205.614502
119    2025-12-01  122.089996  226.889999  401.100006  596.500000  201.619995

Price                                                   ...      Volume  \
Ticker         JPM        NVDA         PLD        TSLA  ...        AMZN
0        45.399033    0.714458   29.856186   12.746667  ...  2604018000
1        43.245590    0.764951   29.092197   12.795333  ...  2482896000
2        45.488529    0.872274   33.418961   15.318000  ...  1880190000
3        48.545677    0.869826   34.693428   16.050667  ...  1569284000
4        50.506874    1.143773   36.313129   14.882000  ...  1812290000
..             ...         ...         ...         ...  ...         ...
115     299.961670  174.160477  112.774330  333.869995  ...   877658700
116     313.903870  186.559097  113.507790  444.720001  ...   965100000
117     309.614716  202.478729  124.089996  456.559998  ...  1196876800
118     313.079987  176.990143  128.529999  430.170013  ...   902272800
119     315.209991  185.550003  126.669998  439.579987  ...   237688339

Price                                                                       \
Ticker        AVGO        CAT        JNJ        JPM         NVDA       PLD
0       1316776000  173549300  211278000  470257300   8138980000  73122800
1        901921000  128153700  201552000  477952300   9000048000  75356700
2        857323000  142001200  172970400  356907400   6577904000  61425600
3        519869000  121780600  158186600  344767700   6734252000  65682100
4        447955000  112144400  141096900  283915300  10367836000  55166300
..             ...        ...        ...        ...          ...       ...
115      374026400   68666200  174936700  148828400   3608891200  66522000
116      633889800   57056500  180802600  182562300   3890495300  72894000
117      485635900   73497500  195076400  189429800   4031017400  78510700
118      426651900   47993300  174241400  150218700   4160148300  68920300
119      137627845   13366386   47429157   44695404   1038273225  19400718

Price
Ticker        TSLA        WMT        XOM
0       1188708000  793997400  418954700
1       2005587000  789308100  359915800
2       1543830000  609323700  292841700
3       2032609500  423760800  221801200
4       1549612500  698928600  219170200
..             ...        ...        ...
115     1603195500  397878500  327731800
116     1973602100  326990400  351985100
117     2032095000  348809500  288638900
118     1628434400  391415900  279417000
119      409624394  126827613   85148209

[120 rows x 67 columns]

## <u>Storage and organization (cf. Modules 4-5)</u>

We decided to convert both datasets into a csv file which is a tabular (relational) model.  CSV refers to comma separated values and is a structured relational database where entity attributes are separated by comma '`,`' delimiters. This is because our datasets have time-series data and the tabular model is the most structured and appropriate for dealing with time-dependent tuples.   
   
For naming our files, we decided to name them semantically, so it would be easier to find the files, and we used an underscore to represent the spaces.

## <u>Extraction and enrichment (cf. Module 6)</u>
We do not have any textual data or textual characteristics within our data so no further work needs to be done for this module.

## <u>Data quality (cf. Module 9)</u>
##### **Data Quality Assessment**

<u>Accuracy</u>: Yahoo finance and FRED are the gold standard of data providers for economic and financial data. They are primary data providers and the data can be compared to other data sources to verify accuracy


<u>Timeliness</u>: Since we are using an API and a Python library to pull our data, our data is always up to date at the time of data acquisition. Older, newer and alternative frequency data can be obtained by modifying the 'start date' and 'frequency'/'interval' paramaters


<u>Completeness</u>: There are no missing values in the stock market data provided by Yahoo finance but there are two missing data points in the S&P 500 Index provided by FRED. These are the very first and very last data points. Since there seems to be a pattern, this will have to be investigated further and cleaned. This may be because there might be a restriction on the amount of data that can be retrieved by the API so we would have to use pagination alternatively to override the API limit

<u>Consistency</u>: No systematic syntactic flaws seem to be present in our data

## <u>Data Cleaning (cf. Module 10)</u>
##### **Describe any data cleaning methods applied (e.g., missing values, outliers, syntactic or semantic cleaning)**

The data pulled from Yahoo finance has a multi-level schema. Level 1 of the schema has the stock price attribute (i.e. opening price, closing price, adjusted closing price, volume etc. on a given day) and level 2 of the schema has the ticker symbol of the stock (NVDA, ABT, TSLA etc.). Below we have created a function called `data_formatter` that uses pd.MultiIndex in pandas to format the schema and retrieve only the adjusted closing price for each stock which is what we will use in our analysis.
Additionally, we have specified a datetime index for our dataframe to facilitate data integration.

Here is the code that we used to clean the reformat the data.

In [4]:
def data_formatter(df):
    if isinstance(df.columns,pd.MultiIndex):
        lvl0=df.columns.get_level_values(0)
        if "Adj_Close" in set(lvl0):
            price=df["Adj_Close"].copy()
        
        else:
            raise KeyError("adj close price column not found")
    else:
        if 'Adj_Close' in df.columns:
            price=df[['Adj_Close']].rename(columns={'Adj Close':tickers[0]})
        else:
            raise KeyError('adj close price column not found')
    
    return price

In [5]:
df_yf_cleaned=data_formatter(df_yf)
df_yf_cleaned
date_index = pd.date_range(start='2016-01-01', periods=len(df_yf_cleaned), freq='MS')
df_yf_cleaned.index=date_index
df_yf_cleaned.to_csv('stocks_cleaned_df_2016_2025',index=False)

The second dataset we chose is the historical S&P 500 Index data from the Federal Reserve Economic Data (FRED) database using the FRED API in monthly frequency starting January 2015 till date (~10 years).

In [19]:
from fredapi import Fred
import pandas as pd
import matplotlib.pyplot as plt

fred = Fred(api_key='3dd37ba3122e1228a5bacd7f8c6f3775')

sp500_series = fred.get_series(
    'SP500',
    observation_start='2016-01-01',
    #observation_end='2025-12-31',
    frequency='m'
)

sp500 = pd.DataFrame(sp500_series)
sp500 = sp500.rename(columns={0: 'S&P 500 Index'})

sp500 = sp500.reset_index().rename(columns={'index': 'Date'})

sp500.to_csv('sp500_2016_2025.csv', index=False)

sp500

          Date  S&P 500 Index
0   2016-01-01        1918.60
1   2016-02-01        1904.42
2   2016-03-01        2021.95
3   2016-04-01        2075.54
4   2016-05-01        2065.55
..         ...            ...
115 2025-08-01        6408.95
116 2025-09-01        6584.02
117 2025-10-01        6735.69
118 2025-11-01        6740.89
119 2025-12-01            NaN

[120 rows x 2 columns]

There is one NaN value in the sp500 dataset, so we will remove all the Na values when we merge the datasets.

In [27]:
sp500.isnull().sum()

Date             0
S&P 500 Index    1
dtype: int64

## Data integration (cf. Module 7-8)
##### **Integration of datasets**

We will be using the `pandas` library in Python to integrate our datasets.  
We decided to perform an inner merge, and then after that we droped the NaN values so the dataset would have no missing values.

In [29]:
import pandas as pd

merged_df = pd.merge(df_yf_cleaned, sp500, on=date_index, how='inner')

merged_df=merged_df.drop(columns=['Date'])
merged_df.to_csv('Stocks_SP500Index_merged.csv', index=False)
#drop na values 
merged_df.dropna(inplace=True)

merged_df

,key_0,ABT,AMZN,AVGO,CAT,JNJ,JPM,NVDA,PLD,TSLA,WMT,XOM,S&P 500 Index
0,2016-01-01,31.351618,29.350000,10.241072,48.714584,79.175697,45.399033,0.714458,29.856186,12.746667,18.473810,50.237019,1918.60
1,2016-02-01,32.291306,27.625999,10.260983,53.651501,79.759415,43.245590,0.764951,29.092197,12.795333,18.468246,51.721203,1904.42
2,2016-03-01,34.866955,29.681999,11.833411,60.657093,82.620567,45.488529,0.872274,33.418961,15.318000,19.066774,54.430630,2021.95
3,2016-04-01,32.424686,32.979500,11.200197,61.592228,85.583328,48.545677,0.869826,34.693428,16.050667,18.753603,57.562733,2075.54
4,2016-05-01,33.234970,36.139500,11.861836,58.023674,86.049133,50.506874,1.143773,36.313129,14.882000,19.850163,57.966442,2065.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-07-01,125.069939,234.110001,293.197662,435.170990,162.507812,293.393250,177.850067,105.836205,308.269989,97.751694,109.651649,6296.50
115,2025-08-01,132.072708,229.000000,296.881348,417.839539,174.769379,299.961670,174.160477,112.774330,333.869995,96.754021,112.254448,6408.95
116,2025-09-01,133.347046,219.570007,329.345734,475.783051,184.250153,313.903870,186.559097,113.507790,444.720001,103.059998,111.772377,6584.02
117,2025-10-01,123.072731,244.220001,369.630005,575.606262,187.678391,309.614716,202.478729,124.089996,456.559998,101.180000,113.368416,6735.69
118,2025-11-01,128.899994,233.220001,402.959991,575.760010,205.614502,313.079987,176.990143,128.529999,430.170013,110.510002,114.914886,6740.89

We can verify that there are no missing values.

In [26]:
merged_df.isnull().sum()

key_0            0
ABT              0
AMZN             0
AVGO             0
CAT              0
JNJ              0
JPM              0
NVDA             0
PLD              0
TSLA             0
WMT              0
XOM              0
S&P 500 Index    0
dtype: int64

## <u>Workflow automation and provenance (cf. Module 11-12)</u>


### <u>Snakemake workflow automating our end-to-end analysis workflow from acquisition to result visualization. </u>


We created 2 files called `workflow.py`, and `snakefile`, which creates an automated end-to-end workflow.  

### <u>DOCUMENTATION</u>   

You can find the documentation and steps in the markdown file called `workflow_automation_guide.md`  

### <u> Script </u>
The run all script is called `run_all.sh`

### <u>Additional Information</u>

You can view the final plot by navigating to **data/processed/performance_chart.png**.  

You can view the workflow diagram by naviagating to **data/processed/dag.png**.

## <u> Reproducibility and transparency (cf. Module 13)</u>   
    
       

#### <u>Steps to reproduce our results</u>   

Step 1: Follow the `Data Collection and Acquisition` section, make sure you download the required python programs in your terminal which are `yfinance`, `pandas`, `fredapi`, and `matplotlib`.  
    
Step 2: Follow the `Data cleaning` section.  
    
Step 3: Follow the `Data integration` section. 
   
Step 4: Follow the steps that are in the markdown file called `workflow_automation_guide.md`  

  
    
#### <u>Licenses for data and software created</u>  
<u>FRED DATA CITATION:</u>    
     
S&P Dow Jones Indices LLC, S&P 500 [SP500], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/SP500, December 7, 2025.
   
<u> YAHOO FINANCE DATA CITATION: </u>
All historical stock and index data were sourced from Yahoo! Finance and extracted using the Python yfinance library.  
   
Yahoo Finance Website: https://finance.yahoo.com/markets/    
Python yfinance library: https://github.com/ranaroussi/yfinance

### <u> Data or documentation describing how to obtain data used</u>
**Yahoo Finance data**

Source : https://finance.yahoo.com/markets/

yfinance library documentation: https://ranaroussi.github.io/yfinance/index.html



**FRED Data**

Pandas Requests Library Documentation: https://docs.python-requests.org/en/latest/index.html

FRED API Documentation: https://github.com/mortada/fredapi  
  
    
  
You can find a requirements.txt file to reproduce our results.

### <u>Results of our analysis </u>
##### <u> Output files:</u>   
The `merged_df` dataset is here:

In [30]:
merged_df

,key_0,ABT,AMZN,AVGO,CAT,JNJ,JPM,NVDA,PLD,TSLA,WMT,XOM,S&P 500 Index
0,2016-01-01,31.351618,29.350000,10.241072,48.714584,79.175697,45.399033,0.714458,29.856186,12.746667,18.473810,50.237019,1918.60
1,2016-02-01,32.291306,27.625999,10.260983,53.651501,79.759415,43.245590,0.764951,29.092197,12.795333,18.468246,51.721203,1904.42
2,2016-03-01,34.866955,29.681999,11.833411,60.657093,82.620567,45.488529,0.872274,33.418961,15.318000,19.066774,54.430630,2021.95
3,2016-04-01,32.424686,32.979500,11.200197,61.592228,85.583328,48.545677,0.869826,34.693428,16.050667,18.753603,57.562733,2075.54
4,2016-05-01,33.234970,36.139500,11.861836,58.023674,86.049133,50.506874,1.143773,36.313129,14.882000,19.850163,57.966442,2065.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-07-01,125.069939,234.110001,293.197662,435.170990,162.507812,293.393250,177.850067,105.836205,308.269989,97.751694,109.651649,6296.50
115,2025-08-01,132.072708,229.000000,296.881348,417.839539,174.769379,299.961670,174.160477,112.774330,333.869995,96.754021,112.254448,6408.95
116,2025-09-01,133.347046,219.570007,329.345734,475.783051,184.250153,313.903870,186.559097,113.507790,444.720001,103.059998,111.772377,6584.02
117,2025-10-01,123.072731,244.220001,369.630005,575.606262,187.678391,309.614716,202.478729,124.089996,456.559998,101.180000,113.368416,6735.69
118,2025-11-01,128.899994,233.220001,402.959991,575.760010,205.614502,313.079987,176.990143,128.529999,430.170013,110.510002,114.914886,6740.89

##### <u>Visualizations:</u>
You can see the performance chart visualization by navigating to **data/processed/performance_chart.png**.  The visualizations shows the normalized performance of the selected stocks over the years of 2016 to nearly the end of 2025.     
    
You can see the workflow diagram by navigating to **data/processed/dag.png** to help better understand the workflow process.

## <u> Metadata and data documentation (cf. Module 15)</u>

#### <u> Data dictionary</u>
Navigate to `data/data_dictionary.txt` to view our dataset description.
  
#### <u> Descriptive metadata conformance standards </u>

We validated our FRED SP500 series using the schema.org metadata validation function and it meets all conformance standards.

However, when we passed the Yahoo finance datasets through the schema.org validator, it did not detect any metadata because there isn't any. There is only a minor note made on the Yahoo Finance website that the 'Adjusted close price is price adjusted for splits and dividend and/or capital gain distrubutions. While the lack of a structured codebook is not ideal, this could be because there is essentially only one variable price and all its attributes such as open, close etc. are intuitive.