## IS 477 Final Project: Comparing 10 year US stock returns to the S&P 500

#### Contributors
* Emma Bills ebills2@illinois.edu

* Rhea Dcosta rdcosta2@illinois.edu

## <u>Data lifecycle (cf. Module 1)</u>

The datasets we chose are the **historical stock market data for popular stocks in the S&P 500 such as Nvidia Inc. (NVDA), JP Morgan Chase (JPM), Walmart (WMT),Tesla Inc.(TSLA), Amazon Inc. (AMZN), Broadcomm (AVGO), Caterpillar Inc. (CAT), Exxon Mobile (XOM), Johnson & Johnson (J&J), Abbot Inc. (ABT), and Prologis Inc. (PLD) from Yahoo Finance**, and the **historical S&P 500 Index data from the Federal Reserve Economic Data (FRED) database**.

##### Based on the **Yahoo Finance dataset**, we have detremined that this is a **restricted** data science lifecycle model.  

`Planning`: Access to Yahoo's finance data is not guaranteed because it is stored on its private servers, and you are not allowed to webscrape the data.  It is important to understand their terms and conditions so no rules are violated when using their dataset.
   
`Acquisition`: The data was collected by Yahoo finance from the financial markets, and the data may be processed from multiple different sources.
   
`Processing`: The dataset is processed so that the only way to access it is by downloading the `yfinance` library.  
   
`Preservation`: The data is stored on Yahoo servers but access to them isn't gauranteed. 
    
`Publishing/sharing`: Cannot share the dataset, and the dataset can only be used for noncommercial uses, and you cannot redistribute it.

##### Based on the **FRED dataset**, we have determined that this is a **standard** data science lifecycle model.  

`Planning`: The FRED data is accessible for all, as long as you give credit.  Knowing how to properly cite the data is important.
     
`Acquisition`: The data is collected and maintained by the Federal Reserve Bank of St. Louis, and they use official financial sources.
   
`Processing`: The data is processed in a way that one can access the data as a CSV format or through an API.
   
`Preservation`: The dataset can be used freely by anybody, the historical data is preserved by using an API. 
   
`Publishing/sharing`: You are allowed to publish and share you results, the only request is that you credit them as your source.

## <u>Ethical data handling (cf. Module 2)</u>
##### **Identification of all ethical, legal, or policy constraints and how they were addressed. This includes issues related to consent, privacy/confidentiality, copyright, licenses and terms of use.**

##### <u>For the date on individual stocks from Yahoo Finance</u>
Consent: This data is public market data, and doesn't involve human subjects so consent does not need to be obtained. The yfinance python library is free and open source that can be accessed through any Python programming interface


Privacy/Confidentiality: The dataset does not contain any personal or personally identifiable information. 

Copyright: Under its Terms of Service, we are allowed to use the dataset as long as it's not for commerical use, so using for educational purposes is acceptable 

Licenses: This dataset is a proprietary license.  According to the Terms of Service, the data is allowed to be used as long as it follows the Terms and Conditions, and you are not allowed to sell or create something new based on their data. 

Terms of Use: The Terms of Service prohibit data scraping beyond API access.  The`yfinance` library complies with those rules.

#### <u>For the historical S&P 500 Index data from the Federal Reserve Economic Data (FRED) database</u>

Consent: This data is public market data, and doesn't involve human subjects so consent does not need to be obtained. The data was obtained by means of an API 

Privacy/Confidentiality: No personal data was used in the dataset.

Copyright: The FRED data is public domain and it's available for non-commercial research and for educational use 

License: The FRED data is a permissive license, meaning that it's available for everyone to use, but they request to be cited for using their data

## <u>Data Collection and Acquisition (cf. Module 3)</u>

The first dataset we chose is the historical stock market data for popular stocks in the S&P 500 such as Nvidia Inc. (NVDA), JP Morgan Chase (JPM), Walmart (WMT),Tesla Inc.(TSLA), Amazon Inc. (AMZN), Broadcomm (AVGO), Caterpillar Inc. (CAT), Exxon Mobile (XOM), Johnson & Johnson (J&J), Abbot Inc. (ABT), and Prologis Inc. (PLD) from Yahoo Finance using the pypi yfinance python package

In [13]:
# imports
import yfinance as yf
import pandas as pd
import openpyxl

In [20]:
tickers=['NVDA','JPM','WMT','TSLA','AMZN','AVGO','CAT','XOM','JNJ','ABT','PLD']
df_yf=yf.download(
    tickers,
    start='2016-01-01',
    
    interval='1mo',
    auto_adjust=False,
    progress=False

)

df_yf = df_yf.reset_index()


df_yf = df_yf.rename(columns={'Date': 'Date',
                              'Open': 'Open',
                              'High': 'High',
                              'Low': 'Low',
                              'Close': 'Close',
                              'Adj Close': 'Adj_Close',
                              'Volume': 'Volume'
}
)

df_yf.to_csv('Stocks_2015_2025.csv', index=False)
df_yf

Price        Date   Adj_Close                                                  \
Ticker                    ABT        AMZN        AVGO         CAT         JNJ
0      2016-01-01   31.351604   29.350000   10.241071   48.714584   79.175690
1      2016-02-01   32.291309   27.625999   10.260984   53.651493   79.759438
2      2016-03-01   34.866955   29.681999   11.833411   60.657097   82.620560
3      2016-04-01   32.424683   32.979500   11.200198   61.592232   85.583305
4      2016-05-01   33.234962   36.139500   11.861838   58.023655   86.049110
..            ...         ...         ...         ...         ...         ...
115    2025-08-01  132.072708  229.000000  296.881348  417.839539  174.769379
116    2025-09-01  133.347046  219.570007  329.345734  475.783051  184.250153
117    2025-10-01  123.072731  244.220001  369.630005  575.606262  187.678391
118    2025-11-01  128.899994  233.220001  402.959991  575.760010  205.614502
119    2025-12-01  125.080002  229.529999  390.239990  603.169983  201.929993

Price                                                   ...      Volume  \
Ticker         JPM        NVDA         PLD        TSLA  ...        AMZN
0        45.399044    0.714459   29.856194   12.746667  ...  2604018000
1        43.245586    0.764951   29.092190   12.795333  ...  2482896000
2        45.488514    0.872274   33.418957   15.318000  ...  1880190000
3        48.545662    0.869826   34.693439   16.050667  ...  1569284000
4        50.506866    1.143773   36.313118   14.882000  ...  1812290000
..             ...         ...         ...         ...  ...         ...
115     299.961670  174.160477  112.774330  333.869995  ...   877658700
116     313.903870  186.559097  113.507790  444.720001  ...   965100000
117     309.614716  202.478729  124.089996  456.559998  ...  1196876800
118     313.079987  176.990143  128.529999  430.170013  ...   902272800
119     315.040009  182.410004  127.980003  455.000000  ...   234332864

Price                                                                       \
Ticker        AVGO        CAT        JNJ        JPM         NVDA       PLD
0       1316776000  173549300  211278000  470257300   8138980000  73122800
1        901921000  128153700  201552000  477952300   9000048000  75356700
2        857323000  142001200  172970400  356907400   6577904000  61425600
3        519869000  121780600  158186600  344767700   6734252000  65682100
4        447955000  112144400  141096900  283915300  10367836000  55166300
..             ...        ...        ...        ...          ...       ...
115      374026400   68666200  174936700  148828400   3608891200  66522000
116      633889800   57056500  180802600  182562300   3890495300  72894000
117      485635900   73497500  195076400  189429800   4031017400  78510700
118      426651900   47993300  174241400  150218700   4160148300  68920300
119      128025137   13311801   49001079   44257212    989884063  18656282

Price
Ticker        TSLA        WMT        XOM
0       1188708000  793997400  418954700
1       2005587000  789308100  359915800
2       1543830000  609323700  292841700
3       2032609500  423760800  221801200
4       1549612500  698928600  219170200
..             ...        ...        ...
115     1603195500  397878500  327731800
116     1973602100  326990400  351985100
117     2032095000  348809500  288638900
118     1628434400  391415900  279417000
119      398680568  133341550   82664986

[120 rows x 67 columns]

In [21]:
def data_formatter(df):
    if isinstance(df.columns,pd.MultiIndex):
        lvl0=df.columns.get_level_values(0)
        if "Adj_Close" in set(lvl0):
            price=df["Adj_Close"].copy()
        
        else:
            raise KeyError("adj close price column not found")
    else:
        if 'Adj_Close' in df.columns:
            price=df[['Adj_Close']].rename(columns={'Adj Close':tickers[0]})
        else:
            raise KeyError('adj close price column not found')
    
    return price

## <u>Data cleaning (cf. Module 10)</u>
##### **Describe any data cleaning methods applied (e.g., missing values, outliers, syntactic or semantic cleaning)**

The data pulled from Yahoo finance had a multi-level schema. Level 1 of the schema had the stock price attribute (i.e. opening price, closing price, adjusted closing price, volume etc. on a given day) and level 2 of the schema had the ticker symbol of the stock (NVDA, ABT, TSLA etc.). We created a function called `data_formatter` that used pd.MultiIndex in pandas to format the schema and retrieve only the adjusted closing price for each stock which is what we will use in our analysis.
Additionally, we specified a datetime index for our dataframe to facilitate data integration

In [22]:
df_yf_cleaned=data_formatter(df_yf)
df_yf_cleaned
date_index = pd.date_range(start='2016-01-01', periods=len(df_yf_cleaned), freq='MS')
df_yf_cleaned.index=date_index
df_yf_cleaned

Ticker,ABT,AMZN,AVGO,CAT,JNJ,JPM,NVDA,PLD,TSLA,WMT,XOM
2016-01-01,31.351604,29.350000,10.241071,48.714584,79.175690,45.399044,0.714459,29.856194,12.746667,18.473810,50.236996
2016-02-01,32.291309,27.625999,10.260984,53.651493,79.759438,43.245586,0.764951,29.092190,12.795333,18.468243,51.721199
2016-03-01,34.866955,29.681999,11.833411,60.657097,82.620560,45.488514,0.872274,33.418957,15.318000,19.066776,54.430622
2016-04-01,32.424683,32.979500,11.200198,61.592232,85.583305,48.545662,0.869826,34.693439,16.050667,18.753601,57.562744
2016-05-01,33.234962,36.139500,11.861838,58.023655,86.049110,50.506866,1.143773,36.313118,14.882000,19.850155,57.966454
...,...,...,...,...,...,...,...,...,...,...,...
2025-08-01,132.072708,229.000000,296.881348,417.839539,174.769379,299.961670,174.160477,112.774330,333.869995,96.754021,112.254456
2025-09-01,133.347046,219.570007,329.345734,475.783051,184.250153,313.903870,186.559097,113.507790,444.720001,103.059998,111.772377
2025-10-01,123.072731,244.220001,369.630005,575.606262,187.678391,309.614716,202.478729,124.089996,456.559998,101.180000,113.368416
2025-11-01,128.899994,233.220001,402.959991,575.760010,205.614502,313.079987,176.990143,128.529999,430.170013,110.510002,114.914886
2025-12-01,125.080002,229.529999,390.239990,603.169983,201.929993,315.040009,182.410004,127.980003,455.000000,115.110001,116.540001

The second dataset we chose is the historical S&P 500 Index data from the Federal Reserve Economic Data (FRED) database using the FRED API in monthly frequency starting January 2015 till date (~10 years)

In [23]:
from fredapi import Fred
import pandas as pd
import matplotlib.pyplot as plt

fred = Fred(api_key='3dd37ba3122e1228a5bacd7f8c6f3775')

sp500_series = fred.get_series(
    'SP500',
    observation_start='2016-01-01',
    #observation_end='2025-12-31',
    frequency='m'
)

sp500 = pd.DataFrame(sp500_series)
sp500 = sp500.rename(columns={0: 'S&P 500 Index'})

sp500 = sp500.reset_index().rename(columns={'index': 'Date'})

sp500.to_csv('sp500_2015_2025.csv', index=False)

sp500

          Date  S&P 500 Index
0   2016-01-01        1918.60
1   2016-02-01        1904.42
2   2016-03-01        2021.95
3   2016-04-01        2075.54
4   2016-05-01        2065.55
..         ...            ...
115 2025-08-01        6408.95
116 2025-09-01        6584.02
117 2025-10-01        6735.69
118 2025-11-01        6740.89
119 2025-12-01            NaN

[120 rows x 2 columns]

## Storage and organization (cf. Modules 4-5)

We decided to convert both datasets into a csv file which is a tabular (relational) model.  CSV refers to comma separated values and is a structured relational database where entity attributes are separated by comma '`,`' delimiters. This is because our datasets have time-series data and the tabular model is the most structured and appropriate for dealing with time-dependent tuples.

## Extraction and enrichment (cf. Module 6)
We do not have any textual data or textual characteristics within our data so no further work needs to be done for this module

## Data integration (cf. Module 7-8)
##### **Integration of datasets**

We will be using the `pandas` library in Python to integrate our datasets

In [8]:
import pandas as pd

sp500 = pd.read_csv('sp500_2015_2025.csv', parse_dates=['Date'])
df_yf = pd.read_csv('Stocks_2015_2025.csv', parse_dates=['Date'])

merged_df = pd.merge(df_yf_cleaned, sp500, on=date_index, how='inner')


merged_df.to_csv('Stocks_SP500_merged.csv', index=False)

merged_df

,key_0,ABT,AMZN,AVGO,CAT,JNJ,JPM,NVDA,PLD,TSLA,WMT,XOM,Date,S&P 500 Index
0,2016-01-01,31.351606,29.350000,10.241072,48.714584,79.175697,45.399048,0.714459,29.856178,12.746667,18.473808,50.237000,2016-01-01,1918.60
1,2016-02-01,32.291321,27.625999,10.260986,53.651497,79.759415,43.245586,0.764951,29.092196,12.795333,18.468248,51.721210,2016-02-01,1904.42
2,2016-03-01,34.866951,29.681999,11.833412,60.657097,82.620583,45.488522,0.872274,33.418968,15.318000,19.066782,54.430645,2016-03-01,2021.95
3,2016-04-01,32.424656,32.979500,11.200197,61.592239,85.583321,48.545670,0.869826,34.693436,16.050667,18.753605,57.562737,2016-04-01,2075.54
4,2016-05-01,33.234970,36.139500,11.861835,58.023674,86.049095,50.506878,1.143773,36.313133,14.882000,19.850155,57.966438,2016-05-01,2065.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2025-08-01,132.072708,229.000000,296.881348,417.839539,174.769379,299.961670,174.160477,112.774330,333.869995,96.754021,112.254456,2025-08-01,6408.95
116,2025-09-01,133.347046,219.570007,329.345734,475.783051,184.250153,313.903870,186.559097,113.507790,444.720001,103.059998,111.772377,2025-09-01,6584.02
117,2025-10-01,123.072731,244.220001,369.630005,575.606262,187.678391,309.614716,202.478729,124.089996,456.559998,101.180000,113.368416,2025-10-01,6735.69
118,2025-11-01,128.899994,233.220001,402.959991,575.760010,205.614502,313.079987,176.990143,128.529999,430.170013,110.510002,114.914886,2025-11-01,6740.89
119,2025-12-01,125.080002,229.529999,390.239990,603.169983,201.929993,315.040009,182.410004,127.980003,455.000000,115.110001,116.540001,2025-12-01,NaN

In order to ensure data integrity and authenticity, we will assign a hash value using SHA-256 from the hashlib library
## MAYBE DELETE THIS SECTION

In [25]:
### MAYBE DELETE THIS SECTION!!
merged_df.to_csv('merged_df.csv')
# Creating a hash (checksum) for our merged dataframe 
import hashlib
# Create a new SHA-256 hash object
hash_initiate = hashlib.sha256()
# Update the hash object with bytes-like data
with open("merged_df.csv", "rb") as f:
    bytes = f.read()
    hash_initiate.update(bytes)
# Get the hexadecimal representation of the digest
sha = hash_initiate.hexdigest()
with open("merged_df.sha",'w') as f:
  f.write(sha)

In [61]:
merged_df

,key_0,ABT,AMZN,AVGO,CAT,JNJ,JPM,NVDA,PLD,TSLA,WMT,XOM,Date,S&P 500 Index
0,2016-01-01,31.351606,29.350000,10.241073,48.714577,79.175697,45.399052,0.714498,29.856186,12.746667,18.473810,50.237003,2016-01-01,1918.60
1,2016-02-01,32.291317,27.625999,10.260984,53.651493,79.759445,43.245586,0.764994,29.092196,12.795333,18.468241,51.721214,2016-02-01,1904.42
2,2016-03-01,34.866951,29.681999,11.833411,60.657104,82.620567,45.488522,0.872322,33.418964,15.318000,19.066772,54.430630,2016-03-01,2021.95
3,2016-04-01,32.424686,32.979500,11.200200,61.592220,85.583313,48.545666,0.869874,34.693432,16.050667,18.753605,57.562717,2016-04-01,2075.54
4,2016-05-01,33.234970,36.139500,11.861835,58.023659,86.049088,50.506874,1.143837,36.313122,14.882000,19.850153,57.966434,2016-05-01,2065.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2025-08-01,132.072708,229.000000,296.881348,417.839539,174.769379,299.961670,174.170166,112.774330,333.869995,96.754021,112.254456,2025-08-01,6408.95
116,2025-09-01,133.347046,219.570007,329.345734,475.783051,184.250153,313.903870,186.569489,113.507790,444.720001,103.059998,111.772377,2025-09-01,6584.02
117,2025-10-01,123.072731,244.220001,369.630005,575.606262,187.678391,309.614716,202.490005,124.089996,456.559998,101.180000,113.368416,2025-10-01,6735.69
118,2025-11-01,128.899994,233.220001,402.959991,575.760010,205.614502,313.079987,177.000000,128.529999,430.170013,110.510002,114.914886,2025-11-01,6740.89
119,2025-12-01,125.555000,232.375000,381.350006,591.210022,205.949997,311.945007,180.029999,128.860001,446.513397,114.654999,117.809998,2025-12-01,NaN

## <u>Data quality (cf. Module 9)</u>
##### **Data Quality Assessment**

<u>Accuracy</u>: Yahoo finance and FRED are the gold standard of data providers for economic and financial data. They are primary data providers and the data can be compared to other data sources to verify accuracy


<u>Timeliness</u>: Since we are using an API and a Python library to pull our data, our data is always up to date at the time of data acquisition. Older, newer and alternative frequency data can be obtained by modifying the 'start date' and 'frequency'/'interval' paramaters


<u>Completeness</u>: There are no missing values in the stock market data provided by Yahoo finance but there are two missing data points in the S&P 500 Index provided by FRED. These are the very first and very last data points. Since there seems to be a pattern, this will have to be investigated further and cleaned. This may be because there might be a restriction on the amount of data that can be retrieved by the API so we would have to use pagination alternatively to override the API limit

<u>Consistency</u>: No systematic syntactic flaws seem to be present in our data

## <u>Workflow automation and provenance (cf. Module 11-12)</u>
##### **Provide an automated end-to-end workflow**  

### <u>Snakemake workflow automating your end-to-end analysis workflow from acquisition to result visualization. </u>


We created 2 files called `workflow.py`, and `snakefile`, which creates an automated end-to-end workflow.  

### <u>DOCUMENTATION</u>   

You can find the documentation and steps in the markdown file called `workflowAutomationGuide.md`  

### <u> Script </u>
The run all script is called `run_all.sh`

### <u>Additional Information</u>

You can view the final plot by navigating to **data/processed/performance_chart.png**.  

You can view the workflow diagram by naviagating to **data/processed/dag.png**.

## <u> Reproducibility and transparency (cf. Module 13)</u>   
    
       

### <u>Documentation describing steps someone else needs to take to reproduce your results</u>   

Step 1: Follow the `Data Collection and Acquisition` section, make sure you download the required python programs in your terminal which are `yfinance`, `pandas`, `fredapi`, and `matplotlib`.  
    
Step 2: Follow the `Data cleaning` section.  
    
Step 3: Follow the `Data integration` section. 
   
Step 4: Follow the steps that are in the markdown file called `workflowAutomationGuide.md`  

  
    
### <u>Licenses for data and software created as part of your project</u>  
<u>FRED DATA CITATION:</u>    
     
S&P Dow Jones Indices LLC, S&P 500 [SP500], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/SP500, December 7, 2025.

### <u> Data or documentation describing how to obtain data used</u>
**Yahoo Finance data**

Source : https://finance.yahoo.com/markets/

yfinance library documentation: https://ranaroussi.github.io/yfinance/index.html



**FRED Data**

Pandas Requests Library Documentation: https://docs.python-requests.org/en/latest/index.html

FRED API Documentation: https://github.com/mortada/fredapi  
  
    
  
You can find a requirements.txt file to reproduce our results.

### <u>Actual results of your analysis including output files, visualizations, etc.</u>
##### <u> Output files:</u>   
**Need to upload to box then upload to the project folder**          
##### <u>Visualizations:</u>
You can see the performance chart visualization by navigating to **data/processed/performance_chart.png**    
    
You can see the workflow diagram by navigating to **data/processed/dag.png**    
    
*****Make sure you add the path to the data that is already in Box to .gitignore before you push any changes to GitHub.*****

## <u> Metadata and data documentation (cf. Module 15)</u>

##### <u> Data dictionary or codebook as text file, PDF, or self-describing data formats. </u>
   
  
##### <u> Descriptive metadata describing your project in conformance with a standard such as DataCite, Schema.org. </u>